  ../../../.cups/
        ../../../.dropbox/
        ../../../.gitconfig
        ../../../.gitignore.save
        ../../../.gitignoreQ
        ../../../.ignore_files.txt.swp
        ../../../.lesshst
        ../../../.npm/
        ../../../.nvm/
        ../../../.oh-my-zsh/
        ../../../.viminfo
        ../../../.zcompdump
        "../../../.zcompdump-Alesia\342\200\231s MacBook Pro (2)-5.8.1"
        "../../../.zcompdump-Alesia\342\200\231s MacBook Pro (2)-5.9"
        ../../../.zcompdump-Mac-5.9
        ../../../.zcompdump-Mac-5.9.zwc
        ../../../.zcompdump-MacBook Pro (2)-5.9
        ../../../.zcompdump-MacBook Pro (2)-5.9.zwc
        ../../../.zcompdump-MacBook Pro-5.9
        ../../../.zcompdump-MacBook Pro-5.9.zwc
        ../../../.zprofile
        ../../../.zsh_history
        ../../../.zsh_sessions/
        ../../../.zshrc
        ../../../Applications/
        ../../../Autodesk/
        ../../../Brewfile
        ../../../Creative Cloud Files/
        ../../../Desktop/
        ../../
        ../../../Downloads/
        ../../../Dropbox
        ../../../Dropbox (RCY Consulting)
        ../../../Dropbox (RCY Ventures)
        ../../../Dropbox (Socially Conscious)
        ../../../DropboxM/
        ../../../Library/
        ../../../Movies/
        ../../../Music/
        ../../../Nooks.in/
        ../../../Pictures/
        ../../../Public/
        ../../../RCY Labs Dropbox/
        ../../../RCY Ventures Dropbox
        ../../../Sites/
        ../../../TEST2
        ../../../functions/.env.local.save
        ../../../ignore_files.txt
        ../../../redshift/
        ../../../tmux/